# Trying out note book in visual studio code

Use kernel Python 3.9.7

In [1]:
import pandas as pd
pd.DataFrame({'Yes' : [50,21], 'No': [132,2]})

   Yes   No
0   50  132
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},
             index=['product A', 'Product B'])

                     Bob           Sue
product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [5]:
pd.Series([1,2,3,4,5])
pd.Series([30,35,40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

CSV = comma - separated values

In [9]:
race_tracks = pd.read_csv("archive/circuits.csv")
race_tracks.shape # 79 records, 9 different colums 
# could use index_col = 0 --> using that one as index

(79, 9)